#rezultat{
  background-color: rgb(214, 69, 69);
  width: 300%;

}

.cell {
  display: flex;  
  justify-content: center;
  align-items: center;

  width: var(--cell-size);
  height: var(--cell-size);

  padding: 4px;
  
  text-align: center;
  box-sizing: border-box;
  border-radius: 8px;
  background: #f5f5f5;
  
  position:relative
}

.cell-star {
    position:absolute;
    pointer-events: none;
    top: 8px;
    right: 8px;

    transform: translate(55%, -55%) scale(1);

    filter: drop-shadow(0 0 2px #181818);
    background: none;
    
}


.cell-text {
    display: flex;
    color:black; 
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
   
}

.non-playable {
  background-color: #e4b3c3;
}

.header {
  background: #e0e0e0;
  font-weight: 800;
  font-size:1.1em;
}

.emptyCell {
  background: transparent;
}

/*standard*/
@keyFrames blinkHint {
    0%, 100% {opacity: 0;}
    50% {opacity: 1;}
}
/* Webkit (Safari, older Chrome) */
@-webkit-keyframes blinkHint {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

.hint {
  color:rgb(255, 0, 0);
  animation: blinkHint 1s infinite ease-in-out;
  animation-delay: calc(-1s * var(--blink-phase));

      /* Optional vendor prefixes for older browsers */
  -webkit-animation: blinkHint 1s infinite ease-in-out;
  -moz-animation: blinkHint 1s infinite ease-in-out;
  -o-animation: blinkHint 1s infinite ease-in-out;
}


.dice {
  font-size: 0; /* hide number */
  background-repeat: no-repeat;
  background-position:
    center center,     /* 1 */
    center top 25%,       /* 2 */
    right 25% top 25%,    /* 3 */
    left 25% center,      /* 4 */
    center center,        /* 5 */
    right 25% center,     /* 6 */
    left 25% bottom 25%,  /* 7 */
    center bottom 25%,    /* 8 */
    right 25% bottom 25%; /* 9 */
  background-size: 25% 25%;
}

.dice-1 {
  background-image:
    radial-gradient(circle, black 40%, transparent 41%);
}

.dice-2 {
  background-image:
    radial-gradient(circle, black 40%, transparent 41%),
    radial-gradient(circle, black 40%, transparent 41%);
  background-position:
    left 25% top 25%,
    right 25% bottom 25%;
}

.dice-3 {
  background-image:
    radial-gradient(circle, black 40%, transparent 41%),
    radial-gradient(circle, black 40%, transparent 41%),
    radial-gradient(circle, black 40%, transparent 41%);
  background-position:
    left 25% top 25%,
    center center,
    right 25% bottom 25%;
}

.dice-4 {
  background-image:
    radial-gradient(circle, black 40%, transparent 41%),
    radial-gradient(circle, black 40%, transparent 41%),
    radial-gradient(circle, black 40%, transparent 41%),
    radial-gradient(circle, black 40%, transparent 41%);
  background-position:
    left 25% top 25%,
    right 25% top 25%,
    left 25% bottom 25%,
    right 25% bottom 25%;
}

.dice-5 {
  background-image:
    radial-gradient(circle, black 40%, transparent 41%),
    radial-gradient(circle, black 40%, transparent 41%),
    radial-gradient(circle, black 40%, transparent 41%),
    radial-gradient(circle, black 40%, transparent 41%),
    radial-gradient(circle, black 40%, transparent 41%);
  background-position:
    left 25% top 25%,
    right 25% top 25%,
    center center,
    left 25% bottom 25%,
    right 25% bottom 25%;
}

.dice-6 {
  background-image:
    radial-gradient(circle, black 40%, transparent 41%),
    radial-gradient(circle, black 40%, transparent 41%),
    radial-gradient(circle, black 40%, transparent 41%),
    radial-gradient(circle, black 40%, transparent 41%),
    radial-gradient(circle, black 40%, transparent 41%),
    radial-gradient(circle, black 40%, transparent 41%);
  background-position:
    left 25% top 25%,
    right 25% top 25%,
    left 25% center,
    right 25% center,
    left 25% bottom 25%,
    right 25% bottom 25%;
}