.die-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.die {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(255, 254, 254, 0.466);
}

.pip {
  border-radius: 50%;
  align-self: center;
  justify-self: center;
}

.battery-bar {
  height: 6px;
  background-color: #ddd;
  margin-top: 6px;
  border-radius: 3px;
  overflow: hidden;
}

.battery-level {
  height: 100%;
  transition: width 0.3s ease;
}