.ticket {
  --gap: 4px;

  

  display: grid;
  gap: var(--gap);

  /* Compute cell size based on parent */
  --cell-width: calc((100% - (var(--columns) - 1) * var(--gap)) / var(--columns));
  --cell-height: calc((100% - (var(--rows) - 1) * var(--gap)) / var(--rows));
  --cell-size: min(var(--cell-width), var(--cell-height));

  grid-template-columns: repeat(var(--columns), var(--cell-size));
  grid-auto-rows: var(--cell-size);

  box-sizing: border-box;
  padding: 8px;

  background: #b81616;
  border-radius: 16px;

  /* aspect-ratio: 5/17;
  height: calc(var(--cell-height) * (var(--rows) + 1)); */
  
}



